<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>Character counter</h1>
      <div data-controller="character-counter" data-character-counter-limit-value="150">
        <textarea rows="3"
                  placeholder="Type something"
                  class="form-control mb-2"
                  data-action="keyup->character-counter#updateCounter"></textarea>
        <i data-character-counter-target="counter"></i>
      </div>
    </div>
  </div>
</div>
