<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div data-controller="character-counter">
        <input class="form-control"
               data-action="keyup->character-counter#updateCounter"></textarea>
        <div data-character-counter-target="counter"></div>
      </div>
    </div>
  </div>
</div>
